/*
Opmaak voor WebMarkup
Jolle (644546)
*/

/* fonts */
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Baloo+Bhai&display=swap');

/* Standaard Browser troep weg. */
* {
    margin: 0;
    padding: 0;
    border: 0;
    /*border: 1px yellow solid;*/
    font-family: Arial, sans-serif;
}

/* Dit ziet er gewoon beter uit */
html {
    scroll-behavior: smooth;
}

/* Dit doe ik zelf, dus wegwezen standaard opmaak */
a {
    color: inherit;
    text-decoration: inherit;
}

/* De eerste Kleurtjes */
body {
    background-color: #F5F5F5;
    color: #444444;
}
h1,h2,h3,h4,h5 {
    color: #000000;
    font-family: 'Baloo Bhai', "Arial Black", Arial, sans-serif;
}
.cursivefont {
    color: #FFFFFF;
    font-family: 'Abril Fatface', "American Typewriter", cursive;
}

/* Navigatie */
nav {
    width: 100%;
    background-color: #2699FB;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    font-size: 125%;
    text-align: center;
    padding: 1% 0;
    width: 18%;
}
nav ul li:hover {
    background-color: #AAAAAA;
}

/* Header */
#thuis {
    width: 100%;
    text-align: center;
    padding: 12% 0;
    background-color: #444444;
}
/* fontsizes in de resposive */

/* Footer */
#footer {
    background-color: #444444;
    display: flex;
    padding: 3% 3% 10% 3%;
    color: #FFFFFF;
}
#footer section {
    flex-grow: 1;
    flex-basis: 0;
}
#footer section li {
    text-decoration: underline;
}
#footer section p.title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1%;
}

/* Articles */
article {
    margin-top: 5%;
    margin-bottom: 5%;
}
article section {
    margin: 1% 0;
}
article header {
    margin: 2% 0 1% 0;
    color: #000000;
}
article aside {
    float: right;
    margin-left: 2%;
    width: 20%;
}
article aside .imgtext {
    display: inline-block;
    font-size: 65%;
    font-style: italic;
    text-align: right;
    width: 100%;
    color: #000000;
}
article aside img {
    display: block;
    margin-top: 5%;
    width: 100%;
}
article footer {
    color: #707070;
    font-size: 90%;
    clear: both;
}
article section.imgholder img{
    width: 100%;
    display: block;
}
article a {
    text-decoration: underline;
}
article a:hover {
    text-decoration: none;
}

/* Grid Sportclubs */
article section#sportclubs {
    display: grid;
    grid-template-columns: 33% 33% auto;
}
article section#sportclubs > aside {
    width: 90%;
}
article section#sportclubs > aside:nth-of-type(2n+1) {
    grid-column-start: 1;
    grid-column-end: 3
}
article section#sportclubs > section:nth-of-type(2n+1) {
    grid-column-start: 3;
}
article section#sportclubs > aside:nth-of-type(2n+0) {
    grid-column-start: 2;
    grid-column-end: 4;
}
article section#sportclubs > section:nth-of-type(2n+0) {
     grid-column-start: 1;
}

/* The Contact Form */
article section.formfields {
    display: grid;
    grid-template-columns: 30% auto;
}
article section.field input,textarea,button {
    width: 98%;
    padding: 1%;
    border-bottom: solid lightgrey;
    background-color: inherit;
    color: #444444;
    resize: none;
}
article section.field input:focus,textarea:focus,button:focus {
    border-bottom: solid #AAAAAA;
}
article section.field button {
    border: solid #AAAAAA;
    float: right;
    width: 75%;
}
article section.field button:hover {
    background-color: #AAAAAA;
}
article form fieldset legend {
    color: #000000;
    font-size: 150%;
}

/* COOKIES: JS is dus niet toegestaan, daarom deze CSS trucage :). */
#cookie input#cookieaccept {
    display: none;
}
#cookie input:checked + label{
    display: none;
}
#cookie label {
    width: 100%;
    background-color: #2699FB;
    color: #FFFFFF;
    position: fixed;
    bottom: 0;
    text-align: center;
    z-index: 100;
    padding: 10% 0;
}
#cookie label u {
    display: block;
    margin: 1%;
}

/* Background video */
section.bgvideo {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

section.bgvideo video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section.bgvideooverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -90;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Responsive */
@media only screen and (min-width: 1280px) {

    article {
        margin-left: 12%;
        margin-right: 12%;
    }

    #thuis h1 {
        font-size: 800%;
    }
    #thuis h2 {
        font-size: 200%;
    }

    article section#sportclubs > section {
        margin: 40% 0 0 0;
    }

    nav ul li.hamburger {
        display: none;
    }

}
@media only screen and (min-width: 481px) and (max-width: 1278px) {

    article {
        margin-left: 7%;
        margin-right: 7%;
    }

    #thuis h1 {
        font-size: 500%;
    }
    #thuis h2 {
        font-size: 125%;
    }

    article section#sportclubs > section {
        margin: 10% 0 0 0;
    }

    nav ul li.menuitem {
        display: none; /* Om het mobile menu te zien moet deze weg met js */
    }
    nav ul li {
        width: 100%;
    }

}
@media only screen and (max-width: 480px){

    article {
        margin-left: 4%;
        margin-right: 4%;
    }

    #thuis h1 {
        font-size: 300%;
    }
    #thuis h2 {
        font-size: 100%;
    }

    article section#sportclubs > section {
        margin: 10% 0 0 0;
    }

    nav ul li.menuitem {
        display: none; /* Om het mobile menu te zien moet deze weg met js */
    }
    nav ul li {
        width: 100%;
    }

}