/*
Opmaak voor WebMarkup
Jolle (644546)
*/

/* Standaard Browser troep weg. */
* {
    margin: 0;
    padding: 0;
    border: 0;
    /*border: 1px yellow solid;*/
    font-family: Arial, sans-serif;
}

/* Dit doe ik zelf, dus wegwezen standaard opmaak */
a {
    color: inherit;
    text-decoration: inherit;
}

/* De eerste Kleurtjes */
body {
    width: 100%;
    background-color: #000850;
    color: #fff;
}

/* Navigatie */
nav {
    width: 100%;
    background-color: #000c9a;
    color: #fff;
    position: fixed;
    bottom: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    width: 19%;
}
nav ul li:hover {
    background-color: #0010dd;
}

/* Header */
#thuis {
    width: 100%;
    text-align: center;
    background-color: #0010dd;
    padding: 15% 0;
}
    font-size: 6vw;
    /*TODO: vervangen voor %*/
}
#thuis h2 {
    font-size: 2.5vw;
}

/* Footer */
#footer {
    background-color: #000520;
    display: flex;
    padding: 3% 3% 10% 3%;
}
#footer section {
    flex-grow: 1;
    flex-basis: 0;
}
#footer section li {
    text-decoration: underline;
}
#footer section p.title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1%;
}

/* Articles */
article {
    margin: 5% 3%;
}
article section {
    margin: 1% 0;
}
article header {
    margin: 2% 0 1% 0;
}
article aside {
    float: right;
    margin-left: 2%;
    width: 20%;
}
article aside .imgtext {
    display: inline-block;
    font-size: 65%;
    font-style: italic;
    text-align: right;
    width: 100%;
}
article aside img {
    display: block;
    margin-top: 5%;
    width: 100%;
}
article footer {
    color: #bbb;
    font-size: 90%;
    clear: both;
}
